{{define "footer"}}
    <footer class="footer fixed-bottom mt-auto py-3">
        <div class="container">
            <span class="text-muted">Copyright 2019 Lenslocked.com.</span>
        </div>
    </footer>
{{end}}